SECRET_KEY=change_me
MONGO_DB=meetingmind
MONGO_URI=mongodb://localhost:27017/meetingmind

OPENAI_API_KEY=
SPEECHMATICS_API_KEY=

CLOUD_NAME=
API_KEY=
API_SECRET=

ADMIN_DASHBOARD_KEY=change_this_admin_key
PAYMENT_WEBHOOK_SECRET=change_this_webhook_secret

VNPAY_TMN_CODE=CGC38KF7
VNPAY_HASH_SECRET=GO8WF9GLAM6N0BU2UNM3QSNDPD8GFI6V
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://192.168.45.65:5000/payments/vnpay/return
VNPAY_IPN_URL=http://192.168.45.65:5000/payments/vnpay/ipn
VNPAY_LOCALE=vn
